@media only screen and (min-width: 200px) and (max-width: 576px)   {
    header {
        background-color: black;
        width: 70%;
        margin: 0 auto;
        z-index: 1;
    }
    .header-box h1 {
        font-family: 'Black Han Sans', sans-serif;
        font-size: 38px;
        color: #fff;
        width: auto;
    }
    .header-box img {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    .mt-5sm {
        margin-top: 4em !important;
        margin-right: 2em !important;
    }
    .d-flex {
        display: flex!important;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        align-items: center;
    }
    .img-100 {
        margin-left: 2em;
        margin-top: 2.7em;
        width: 75%;
        height: auto;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        z-index: -1;
    }
    .border-1 {
        position: absolute;
        height: 90vh;
        width: 60%;
        margin-right: 3.5em;
        margin-top: -3em;
        border-width: 20em;
        background-color: rgb(101, 18, 134);
        z-index: -2;
    }
    .border-2 {
        display: none;
    }
    .mt-m3 {
        margin-top: -3em;
    }
    .zoom {
        overflow: hidden;
        z-index: -1;
    }
    .zoom img {
        max-width: 100%;
    }
    
    
    .index {
        z-index: 1;
    }
    .text-author-align {
        margin-right: 5em;
        width: 73%;
        font-size: 18px;
        margin-top: 0.6em;
    }
    .bg-container {
        width: 80%;
        text-align: center;
        background-color: #000103;
        margin: 0 auto;
        padding: 0 !important;
        text-align: center !important;
        padding-left: 1.5em !important;
        padding-right: 0em !important;
    }
    .arrow-color {
        color: #ff8500;
        width: 55%;
        text-align: center;
        font-size: 55px;
        margin-top: -0.5em;
        margin-left: 0;
    }
    .text-container{
        margin-top: 2em;
        text-align: center !important;
    }
    .carousel-item {
        height: 15rem !important;
      }
      footer{
        margin: 0;
        padding: 0;
      
      }
      footer h2{
        font-family: 'Black Han Sans', sans-serif;
        font-weight: 100;
        font-size: 9px;
        text-align: center;
        transition-duration:unset;
        padding-bottom: 2rem;
        padding-top: 2rem;
    }
    .row{
        justify-content: center;
        align-items: center;
        align-self: center;
    }
    .icones i{
        color: #ffffff;
        font-size: 12px;
        letter-spacing: none !important;
        text-decoration: none;
        text-transform: none;
        transition-duration:unset;
    }
    .col-sm-6{
            flex: 0 0 auto;
            width: 47% !important;
           
    }
    .col-sm-7{
        flex: 0 0 auto;
        width: 53% !important;
        
        
}
    .arrows{
        display: none;
    }
}

@media only screen and (min-width: 577px) and (max-width: 768px)   {
    
    header {
        background-color: black;
        width: 70%;
        margin: 0 auto;
        z-index: 1;
        border: 1px solid red;
    }
    .header-box h1 {
        font-family: 'Black Han Sans', sans-serif;
        font-size: 38px;
        color: #fff;
        width: auto;
    }
    .header-box img {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    .mt-5sm {
        margin-top: 4em !important;
        margin-right: 2em !important;
    }
    .d-flex {
        display: flex!important;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        align-items: center;
    }
    .img-100 {
        margin-left: 2em;
        margin-top: 3em;
        width: 75%;
        height: auto;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        z-index: -1;
    }
    .border-1 {
        position: absolute;
        height: 90vh;
        width: 60%;
        margin-right: 3.5em;
        margin-top: -3em;
        border-width: 20em;
        background-color: rgb(101, 18, 134);
        z-index: -2;
    }
    .border-2 {
        display: none;
    }
    .mt-m3 {
        margin-top: -3em;
    }
    .zoom {
        overflow: hidden;
        z-index: -1;
    }
    .zoom img {
        max-width: 100%;
    }
    
    
    .index {
        z-index: 1;
    }
    .text-author-align {
        margin-right: 5em;
        width: 73%;
        font-size: 18px;
        margin-top: 0.6em;
    }
    .bg-container {
        width: 80%;
        text-align: center;
        background-color: #000103;
        margin: 0 auto;
        padding: 0 !important;
        text-align: center !important;
        padding-left: 1.5em !important;
        padding-right: 0em !important;
    }
    .arrow-color {
        color: #ff8500;
        text-align: start;
        margin-left: 1.5em;
        font-size: 55px;
        margin-top: -0.5em;
    }
    .text-container{
        margin-top: 2em;
        text-align: center !important;
    }
}

@media only screen and (min-width: 769px) and (max-width: 992px) {
    body {
        background-color: yellow;
    }
}

@media (min-width: 1200px) {
    body {
        background-color: green;
    }
}

@media (min-width: 1400px) {
    body {
        background-color: purple;
    }
}